templates/lead generation/linkedin2/workflow.json
{
    "name": "LinkendIn Comments to Leads",
    "nodes": [
      {
        "parameters": {},
        "id": "50e04f12-1437-4b8f-96e8-32d9906498ca",
        "name": "Trigger manually",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          1160,
          1060
        ],
        "typeVersion": 1,
        "disabled": true
      },
      {
        "parameters": {
          "content": "# 🚀 LinkedIn Comments to Leads Extractor & Enricher (Apify) → Google Sheets / CSV\n\n## Overview\n\n**Automate LinkedIn lead generation by scraping comments from targeted posts and enriching profiles with detailed data**\n\nThis n8n workflow automatically extracts leads from LinkedIn post comments using Apify's powerful scrapers (no LinkedIn login required), enriches the data with additional profile information, and exports everything to Google Sheets or CSV format.\n\n---\n\n## ✨ Key Features\n\n- 🔍 **No Login Required**: Scrape LinkedIn data without sharing credentials\n- 💰 **Cost-Effective**: First 1,000 comments are free with Apify\n- 📊 **Data Enrichment**: Enhance basic comment data with full profile details\n- 📈 **Export Options**: Choose between Google Sheets or CSV output\n- 🎯 **Targeted Scraping**: Focus on specific posts for quality leads\n\n---\n\n## 🛠️ Apify Scrapers Used\n\n### 1. LinkedIn Post Comments Scraper\n- **Tool**: [LinkedIn Post Comments, Replies, Engagements Scraper | No Cookies](https://apify.com/apimaestro/linkedin-post-comments-replies-engagements-scraper-no-cookies/api/python)\n- **Pricing**: $5.00 per 1,000 results\n- **Function**: Extracts all comments and engagement data from specified LinkedIn posts\n\n### 2. LinkedIn Profile Batch Scraper\n- **Tool**: [LinkedIn Profile Details Batch Scraper (No Cookies Required)](https://apify.com/apimaestro/linkedin-profile-batch-scraper-no-cookies-required)\n- **Pricing**: $5.00 per 1,000 results\n- **Function**: Enriches scraped profiles with detailed information\n\n> 💡 **Free Tier**: Apify provides 1,000 free scraped comments to get you started!\n\n---\n",
          "height": 1000,
          "width": 1620,
          "color": 5
        },
        "id": "a5719a64-7c62-4641-8e2b-667614462219",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          340,
          -320
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "formTitle": "Linkedin Posts Comments Leads Scraper",
          "formDescription": "=<div style=\"font-family: Arial, sans-serif; line-height: 1.8; color: #333; word-wrap: break-word; overflow-wrap: break-word;\">\n\n<p style=\"margin-bottom: 20px;\"><strong style=\"color: #0077b5;\">🔸 Step 1: Add Posts URLs</strong></p>\n<p style=\"margin-bottom: 20px;\">The workflow accepts various LinkedIn post identifier formats:</p>\n\n<p style=\"margin-bottom: 18px;\"><strong>📊 Numeric post IDs:</strong><br>\n<span style=\"font-family: monospace; background: #f5f5f5; padding: 4px 6px; word-break: break-all; margin-top: 8px; display: inline-block;\">7334385757769416704</span></p>\n\n<p style=\"margin-bottom: 18px;\"><strong>🔗 Activity URLs:</strong><br>\n<span style=\"font-family: monospace; background: #f5f5f5; padding: 4px 6px; word-break: break-all; display: block; margin-top: 8px;\">https://www.linkedin.com/feed/update/urn:li:activity:273437/</span></p>\n\n<p style=\"margin-bottom: 25px;\"><strong>🌐 Full post URLs:</strong><br>\n<span style=\"font-family: monospace; background: #f5f5f5; padding: 4px 6px; word-break: break-all; display: block; margin-top: 8px;\">https://www.linkedin.com/posts/username_title-activity-7334385757769416704-dMnz</span></p>\n\n<hr style=\"margin: 30px 0; border: 1px solid #ddd;\">-------------------\n\n<p style=\"margin-bottom: 20px;\"><strong style=\"color: #28a745;\">✅ Step 2: Results</strong></p>\n<p style=\"margin-bottom: 20px;\">Once finished, you'll be redirected to Google Sheets where you can find your result with the name:</p>\n<p style=\"background: #f0f8ff; padding: 15px; border-left: 4px solid #0077b5; margin: 20px 0;\">\n<strong>\"LinkedIn-Posts-Comments-Leads-{{ $now.format('yyyy-MM-dd') }}\"</strong>\n</p>\n\n<hr style=\"margin: 30px 0; border: 1px solid #ddd;\">-------------------\n\n\n<p style=\"color: #666; font-size: 14px; margin-top: 25px;\"><em>💡 Tip: Make sure your LinkedIn URLs are publicly accessible for the best results.</em></p>\n\n</div>",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Post IDs/URLs",
                "fieldType": "textarea",
                "placeholder": "e.g. 7334385757769416704, https://www.linkedin.com/feed/update/urn:li:activity:7334385757769416704/",
                "requiredField": true
              },
              {
                "fieldLabel": "How many comments you want to scrape?",
                "fieldType": "number",
                "placeholder": "Default: 100"
              }
            ]
          },
          "responseMode": "lastNode",
          "options": {
            "appendAttribution": false,
            "buttonLabel": "Submit",
            "respondWithOptions": {
              "values": {
                "respondWith": "redirect",
                "redirectUrl": "=https://docs.google.com/spreadsheets/u/0/"
              }
            },
            "ignoreBots": true
          }
        },
        "id": "9d9f0fd4-3b54-4d8d-99ab-61a420f9cf3b",
        "name": "On form submission",
        "type": "n8n-nodes-base.formTrigger",
        "position": [
          1220,
          1460
        ],
        "webhookId": "a81d04b5-169a-4368-b925-91fb0660b6b2",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "20febbcc-0a59-4a89-8932-9bbb34b0e9f9",
                "name": "APIFY_TOKEN",
                "type": "string",
                "value": ""
              },
              {
                "id": "291758a3-c73f-4db5-a2b3-5f88664a8b53",
                "name": "limit",
                "type": "number",
                "value": "={{ $json.limit }}"
              },
              {
                "id": "921b72d5-3688-4324-9d36-50668548344e",
                "name": "postIds",
                "type": "array",
                "value": "={{ $json.postIds }}"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "56101e53-87b8-4af8-a699-74a308719bb1",
        "name": "Set APIFY Token",
        "type": "n8n-nodes-base.set",
        "position": [
          1740,
          1160
        ],
        "notesInFlow": true,
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "## 1. Set APIFY TOKEN\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### _(CLICK ME)_",
          "height": 300,
          "width": 260,
          "color": 3
        },
        "id": "f099ecaa-9e05-4109-a61a-c2f8797f04cc",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1660,
          1060
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "_(or if run manually ENABLE this)_  \n### 4. Set Post ID/URL\n\n\n\n\n\n\n\n\n\n\n\n\n\n### _(CLICK ME)_ and Connect\n",
          "height": 300,
          "color": 2
        },
        "id": "c157c174-1c40-4315-a638-2b0d5e707fa0",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1340,
          980
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 3. You can run through the form (check Form URL)\n\n\n\n\n\n\n\n\n\n\n\n\n\n### _(CLICK ME)_ \nIf run manually DISABLE this node",
          "height": 380,
          "width": 400,
          "color": 3
        },
        "id": "0e9b8cfe-3022-4d72-805a-7b974ca7642f",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1080,
          1320
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "916bb8f7-34c5-4f2f-b13d-f60d228abc1f",
                "name": "postIds",
                "type": "array",
                "value": "={{ $json['Post IDs/URLs'].replaceAll('\\n','').replaceAll('\\r', '').split(',').filter(item => $ifEmpty(item, false))  }}"
              },
              {
                "id": "7ff3d2f4-ab8a-444f-9747-f95166a950bd",
                "name": "limit",
                "type": "number",
                "value": "={{ $json['How many comments you want to scrape?'] || 100 }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ec2d6059-f86f-4ebe-90de-3b9b57bb06ca",
        "name": "Set fields from the form",
        "type": "n8n-nodes-base.set",
        "position": [
          1540,
          1460
        ],
        "notesInFlow": true,
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "af09ad86-b3dd-45b7-b17d-cb810e4b48d6",
                "name": "postIds",
                "type": "array",
                "value": "['https://www.linkedin.com/feed/update/urn:li:activity:7334385757769416704/', 'https://www.linkedin.com/feed/update/urn:li:activity:7318557377971023872/']"
              },
              {
                "id": "b2f9412e-4c81-454f-ad84-a1d5f6547a26",
                "name": "limit",
                "type": "number",
                "value": 100
              }
            ]
          },
          "options": {}
        },
        "id": "3aba1f98-240a-490e-bb47-9969157c9c0a",
        "name": "Set manual fields",
        "type": "n8n-nodes-base.set",
        "position": [
          1400,
          1060
        ],
        "notesInFlow": true,
        "typeVersion": 3.4,
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "19224073-c84d-456f-b694-318df4223d2a",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $json.summary.totalComments }}",
                "rightValue": 100
              },
              {
                "id": "8156447e-75dd-4cad-8fc8-17366667d165",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $('Set APIFY Token').first().json.limit }}",
                "rightValue": 100
              }
            ]
          },
          "options": {}
        },
        "id": "04c68358-bb8e-4ff9-b6c0-57974619ea24",
        "name": "More runs needed?",
        "type": "n8n-nodes-base.if",
        "position": [
          2540,
          1160
        ],
        "notesInFlow": true,
        "typeVersion": 2.2,
        "notes": "Per run it's only 100 comments"
      },
      {
        "parameters": {
          "jsCode": "const limitPages = Math.ceil($('Set APIFY Token').first().json.limit / 100)\nconst totalComments = $('Run Apify Comments Scraper').last().json.summary.totalComments \nconst availablePages = Math.ceil(totalComments / 100)\n\nconst totalRuns = availablePages <= limitPages ? availablePages : limitPages\n\nlet currentPage = 2\n\n\nreturn {\n  json: {\n    items:\n      Array.from({ length: totalRuns }, (_, i) => {\n        return { currentPage: currentPage + i }\n      })\n  }\n};"
        },
        "id": "20278a1b-18ec-4eef-b2f8-34654734d7b0",
        "name": "Set pagination",
        "type": "n8n-nodes-base.code",
        "position": [
          2760,
          1020
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "fieldToSplitOut": "items",
          "options": {}
        },
        "id": "048c00eb-9e1b-4820-bb2f-ab19131eed73",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "position": [
          2980,
          1020
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "items",
          "options": {}
        },
        "id": "7768c51f-321c-4ce8-a957-989c00c8c7b2",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          2320,
          1160
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b4280f11-a50b-4065-8742-9f994c6ee84d",
                "name": "items",
                "type": "array",
                "value": "={{ $json.items.concat($('Aggregate').item.json.items) }}"
              }
            ]
          },
          "options": {}
        },
        "id": "33721a93-b0d8-4fb5-b6cb-f2cb7cffa9ce",
        "name": "Gather All Comments",
        "type": "n8n-nodes-base.set",
        "position": [
          3640,
          820
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "jsCode": "// Get all input items\nconst items = $input.first().json.items;\n\n// Use reduce to filter unique profile_url values\nconst uniqueProfiles = items.reduce((acc, item) => {\n  // Check if this profile_url is already in the accumulator\n  console.log(item)\n  if (item.author && !acc.some(i => i.profile_url === item.author.profile_url)) {\n    acc.push(item.author);\n  }\n  return acc;\n}, []);\n\nreturn uniqueProfiles"
        },
        "id": "22a838df-2d51-4bef-a03f-ee312634870b",
        "name": "Create Unique List of Leads",
        "type": "n8n-nodes-base.code",
        "position": [
          4100,
          1180
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "content": "## 🛠 Running Apify LinkedIn Comments Scrapers and processing data\nWe want to run an Apify scraper once to validate the number of available comments and then run it multiple times if necessary.",
          "height": 840,
          "width": 2040,
          "color": 7
        },
        "id": "9cb1e848-9aef-40eb-9730-a5ecd603a45a",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1920,
          740
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Create a unique list of Leads, ✨ enrich ✨ it with more data\nOnce we have all of the comment authors, we need to enrich them with more information from LinkedIn\n",
          "height": 840,
          "width": 1700
        },
        "id": "6e3d8bad-8e73-4364-8e1a-4ebbfe207ec8",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3960,
          740
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://api.apify.com/v2/acts/apimaestro~linkedin-post-comments-replies-engagements-scraper-no-cookies/run-sync-get-dataset-items?token=' +$json.APIFY_TOKEN}}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "postIds",
                "value": "={{ $json.postIds }}"
              },
              {
                "name": "page_number",
                "value": "={{ 1 }}"
              },
              {
                "name": "sortOrder",
                "value": "most recent"
              },
              {
                "name": "limit",
                "value": "={{ $json.limit }}"
              }
            ]
          },
          "options": {}
        },
        "id": "e816da01-ba9f-4b78-8a90-5eae2fec1815",
        "name": "Run Apify Comments Scraper",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2100,
          1160
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://api.apify.com/v2/acts/apimaestro~linkedin-post-comments-replies-engagements-scraper-no-cookies/run-sync-get-dataset-items?token=' + $('Set APIFY Token').first().json.APIFY_TOKEN}}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "postIds",
                "value": "={{ $('Set APIFY Token').first().json.postIds }}"
              },
              {
                "name": "page_number",
                "value": "={{ $json.currentPage }}"
              },
              {
                "name": "sortOrder",
                "value": "most recent"
              },
              {
                "name": "limit",
                "value": "={{ $('Set APIFY Token').first().json.limit }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c7ada33f-8b05-4d75-b6e9-fe45e236fb42",
        "name": "Run Apify Comments Scraper Loop",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          3420,
          1040
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://api.apify.com/v2/acts/apimaestro~linkedin-profile-batch-scraper-no-cookies-required/run-sync-get-dataset-items?token=' + $('Set APIFY Token').first().json.APIFY_TOKEN}}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "usernames",
                "value": "={{ $json.batches }}"
              }
            ]
          },
          "options": {}
        },
        "id": "f5711cd0-f196-4b17-9b72-320c2b7df5a6",
        "name": "Run Apify Profile Enrichment",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          5140,
          1200
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "fieldToSplitOut": "batches",
          "include": "allOtherFields",
          "options": {}
        },
        "id": "3dbd20eb-2fb4-4696-89e2-240725106791",
        "name": "Split Out Batches",
        "type": "n8n-nodes-base.splitOut",
        "position": [
          4560,
          1180
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "0b6aa23d-b077-466d-8f79-d8d45aaf1289",
        "name": "Loop Over Comments",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          3200,
          1020
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "b11dda98-f749-40df-bdb5-5a94e2bad5a1",
        "name": "Loop Over Profiles",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          4860,
          1180
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "jsCode": "const uniqueProfiles = $input.all().map(item => item.json.profile_url)\n\n// Split the uniqueProfiles in batches of 500 for the Apify\nconst chunkSize = 500;\nconst batches = [];\n\nfor (let i = 0; i < uniqueProfiles.length; i += chunkSize) {\n  batches.push(uniqueProfiles.slice(i, i + chunkSize));\n}\n\n\nreturn { batches };"
        },
        "id": "f0ff738c-9128-4326-b5b0-1b3fcb94e7bc",
        "name": "Split in batches",
        "type": "n8n-nodes-base.code",
        "position": [
          4320,
          1180
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "items",
          "options": {}
        },
        "id": "30fd56ea-2b56-412a-a4ce-d7696313ae48",
        "name": "Aggregate Comments",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          3700,
          1040
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "items",
          "options": {}
        },
        "id": "23ae1ac2-93f1-46ca-a385-9c19309431e3",
        "name": "Aggregate Profiles",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          5360,
          1200
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "items"
              }
            ]
          },
          "options": {
            "mergeLists": true
          }
        },
        "id": "b1e8cafb-dc20-4123-a547-8f8e76cfe94a",
        "name": "Aggregate All Profiles",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          5140,
          1020
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "items"
              }
            ]
          },
          "options": {
            "mergeLists": true
          }
        },
        "id": "eca3577c-fb76-4957-81ec-0a29a16c2903",
        "name": "Aggregate All Comments",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          3420,
          820
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "options": {
            "headerRow": true
          }
        },
        "id": "ff9be19d-b811-407c-a4fb-a38e941565fe",
        "name": "Convert to File",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          6020,
          840
        ],
        "executeOnce": true,
        "typeVersion": 1.1,
        "disabled": true
      },
      {
        "parameters": {
          "content": "## You can either run it manually (not through form) and download the CSV\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nYou need to activate \"Trigger manual\" nodes first\n\n### _(CLICK ME) and Connect_",
          "height": 380,
          "width": 660,
          "color": 2
        },
        "id": "c451fbe0-e4bd-4e3e-8dd1-fdcbf28829fd",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          5760,
          740
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 2. Add credentials to Google Sheets\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### _(CLICK ME)_",
          "height": 380,
          "width": 660,
          "color": 3
        },
        "id": "8e07ca0e-60c1-41c2-8c37-04a581f5e5de",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          5760,
          1200
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "jsCode": "function flatten(obj, prefix = '', res = {}) {\n  for (const key in obj) {\n    const value = obj[key];\n    const prefixedKey = prefix ? `${prefix}_${key}` : key;\n    if (typeof value === 'object' && value !== null && !Array.isArray(value)) {\n      flatten(value, prefixedKey, res);\n    } else {\n      res[prefixedKey] = value;\n    }\n  }\n  return res;\n}\n\nreturn $input.first().json.items.map(item => ({\n  json: flatten(item)\n}));"
        },
        "id": "34ff9f41-ab74-4286-9630-7f26a9ce3941",
        "name": "Prepare the list for export",
        "type": "n8n-nodes-base.code",
        "position": [
          5360,
          1020
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "resource": "spreadsheet",
          "title": "=LinkedIn-Posts-Comments-Leads-{{ $now.format('yyyy-MM-dd+T') }}",
          "sheetsUi": {
            "sheetValues": [
              {
                "title": "Leads"
              }
            ]
          },
          "options": {}
        },
        "id": "cb76e16b-7b04-4925-8e17-13c3ad006a13",
        "name": "Create Google Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          5840,
          1340
        ],
        "executeOnce": true,
        "typeVersion": 4.5
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('Create Google Sheet').first().json.spreadsheetId }}"
          },
          "sheetName": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('Create Google Sheet').first().json.sheets[0].properties.sheetId }}"
          },
          "columns": {
            "value": {},
            "schema": [
              {
                "id": "profileUrl",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "profileUrl",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_fullname",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_fullname",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_first_name",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_first_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_last_name",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_last_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_headline",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_headline",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_public_identifier",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_public_identifier",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_profile_picture_url",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_profile_picture_url",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_about",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_about",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_location_country",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_location_country",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_location_city",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_location_city",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_location_full",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_location_full",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_location_country_code",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_location_country_code",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_creator_hashtags",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_creator_hashtags",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_is_creator",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_is_creator",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_is_influencer",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_is_influencer",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_is_premium",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_is_premium",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_created_timestamp",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_created_timestamp",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_show_follower_count",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_show_follower_count",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_background_picture_url",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_background_picture_url",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_urn",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_urn",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_follower_count",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_follower_count",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_connection_count",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_connection_count",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_current_company",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_current_company",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_current_company_urn",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_current_company_urn",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "basic_info_current_company_url",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "basic_info_current_company_url",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "experience",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "experience",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "education",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "education",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "certifications",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "certifications",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "autoMapInputData",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "cellFormat": "USER_ENTERED",
            "useAppend": true
          }
        },
        "id": "f163b6cf-1fe0-4291-980a-f51fadd01afd",
        "name": "Add Leads",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          6260,
          1340
        ],
        "executeOnce": false,
        "typeVersion": 4.5
      },
      {
        "parameters": {
          "jsCode": "\nreturn $('Prepare the list for export').all();"
        },
        "id": "aefbdf63-7557-422e-b361-ad873777f25e",
        "name": "Set the list for sheets",
        "type": "n8n-nodes-base.code",
        "position": [
          6060,
          1340
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "content": "\n---\n\n## 📊 Output Data Structure\n\nYour exported data will include:\n\n- **Basic Info**: Name, headline, location\n- **Profile Details**: Company, position, industry\n- **Engagement Data**: Comment content, engagement metrics\n- **Contact Info**: Available profile links and connections\n- **Enriched Data**: Additional profile insights from Apify\n\n",
          "height": 280,
          "width": 1180,
          "color": 5
        },
        "id": "a98674c9-4e2d-4137-92b4-b19bd01d16f6",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          400,
          1840
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "---\n\n## 💡 Pro Tips\n\n- **Quality over Quantity**: Target posts with high-quality, relevant engagement\n- **Monitor Costs**: Track your Apify usage to stay within budget\n- **Data Hygiene**: Regularly clean and deduplicate your lead lists\n- **Compliance**: Ensure your scraping activities comply with LinkedIn's terms of service\n\n---\n\n## 🆘 Troubleshooting\n\n**Common Issues:**\n- **Authentication Errors**: Verify your Apify token is correctly configured\n- **Empty Results**: Check that your LinkedIn post URLs are valid and public\n- **Export Failures**: Ensure Google Sheets credentials are properly set up\n\n",
          "height": 540,
          "width": 760
        },
        "id": "de7902f7-9b04-4921-b269-f5bd916fdd90",
        "name": "Sticky Note9",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2560,
          1660
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "\n## 📋 Prerequisites\n\n### Required API Credentials\n\n1. **Apify Token**\n   - Add your `APIFY_TOKEN` to the workflow credentials\n   - [Get your token from Apify Console](https://apify.com/account#/integrations)\n\n2. **Google Sheets Credentials** *(if using Sheets export)*\n   - Configure OAuth credentials for Google Sheets integration\n   - [Follow n8n's Google Sheets setup guide](https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/?utm_source=n8n_app&utm_medium=credential_settings&utm_campaign=create_new_credentials_modal)\n\n---\n\n## 🔄 Workflow Process\n\n### Default Mode: Form-Based Execution\n\n1. **Manual Trigger** → Launches the workflow\n2. **Form Submission** → User-friendly form for inputting LinkedIn post URLs\n3. **Comment Scraping** → Apify extracts all comments from specified posts\n4. **Profile Enrichment** → Additional profile data gathered for each commenter\n5. **Data Processing** → Creates unique, enriched lead list\n6. **Google Sheets Export** → Automatically populates your spreadsheet\n\n**Result**: You'll be redirected to a Google Sheets document containing all enriched leads\n\n### Alternative Mode: CSV Export\n\nFor users preferring CSV output:\n\n1. **Disable**: Form trigger nodes\n2. **Enable**: Manual trigger node\n3. **Disable**: Google Sheets export nodes\n4. **Enable**: CSV download nodes\n5. **Configure**: Add post IDs/URLs in \"Set manual fields\" node\n6. **Execute**: Run workflow and download CSV from the CSV node\n",
          "height": 960,
          "width": 1620,
          "color": 6
        },
        "id": "b322bfa7-d9c5-4f91-9d70-80858dc23666",
        "name": "Sticky Note10",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          220,
          740
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "bae54a99-116c-4730-86c7-d7f52d9baaeb",
        "name": "Done",
        "type": "n8n-nodes-base.noOp",
        "position": [
          6980,
          1060
        ],
        "typeVersion": 1
      }
    ],
    "pinData": {},
    "connections": {
      "Add Leads": {
        "main": [
          [
            {
              "node": "Done",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "More runs needed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Comments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set pagination": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set APIFY Token": {
        "main": [
          [
            {
              "node": "Run Apify Comments Scraper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split in batches": {
        "main": [
          [
            {
              "node": "Split Out Batches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger manually": {
        "main": [
          [
            {
              "node": "Set manual fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "More runs needed?": {
        "main": [
          [
            {
              "node": "Set pagination",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Unique List of Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Batches": {
        "main": [
          [
            {
              "node": "Loop Over Profiles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Comments": {
        "main": [
          [
            {
              "node": "Loop Over Comments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Profiles": {
        "main": [
          [
            {
              "node": "Loop Over Profiles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Comments": {
        "main": [
          [
            {
              "node": "Aggregate All Comments",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Run Apify Comments Scraper Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Profiles": {
        "main": [
          [
            {
              "node": "Aggregate All Profiles",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Run Apify Profile Enrichment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "Set fields from the form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Google Sheet": {
        "main": [
          [
            {
              "node": "Set the list for sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gather All Comments": {
        "main": [
          [
            {
              "node": "Create Unique List of Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate All Comments": {
        "main": [
          [
            {
              "node": "Gather All Comments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate All Profiles": {
        "main": [
          [
            {
              "node": "Prepare the list for export",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set the list for sheets": {
        "main": [
          [
            {
              "node": "Add Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set fields from the form": {
        "main": [
          [
            {
              "node": "Set APIFY Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Apify Comments Scraper": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Unique List of Leads": {
        "main": [
          [
            {
              "node": "Split in batches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare the list for export": {
        "main": [
          [
            {
              "node": "Create Google Sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Apify Profile Enrichment": {
        "main": [
          [
            {
              "node": "Aggregate Profiles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Apify Comments Scraper Loop": {
        "main": [
          [
            {
              "node": "Aggregate Comments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "0df85fa2-86aa-476f-8995-d48efc1bdbe6",
    "meta": {
      "instanceId": "a61bc6a85da78ceeb4977e2cb60a720182cec768d84ac3aa6c8e42055fbf04b7"
    },
    "id": "W8PwigqBtAfjWZkX",
    "tags": []
  }